#clock {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  position: sticky;
  padding: 2em;
}

html {
  background-image: linear-gradient(45deg, #888888, #000000);
  height: 1000px;
}

h1 {
  color: White;
}
