@font-face {font-family: "BourgeoisW00-Light"; src: url("//db.onlinewebfonts.com/t/99ca060c4577f99d9b5e6dbf0fe1971d.eot"); src: url("//db.onlinewebfonts.com/t/99ca060c4577f99d9b5e6dbf0fe1971d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/99ca060c4577f99d9b5e6dbf0fe1971d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/99ca060c4577f99d9b5e6dbf0fe1971d.woff") format("woff"), url("//db.onlinewebfonts.com/t/99ca060c4577f99d9b5e6dbf0fe1971d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/99ca060c4577f99d9b5e6dbf0fe1971d.svg#BourgeoisW00-Light") format("svg"); }    

#clock {
  font-family: 'BourgeoisW00-light';
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 200px;
}

html {
  background-color: black;
  height: 1000px;
}

