@import url("https://db.onlinewebfonts.com/c/30f7089f509a97d4f8fca10d997ba1aa?family=Oxygene+1");

#clock {
  text-align: center;
  font-size: 50px;
  font: Oxygene1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
}

html {
  background-image: linear-gradient(45deg, #888888, #000000);
  height: 99999999999999999999999px;
}

h1 {
  color: White;
}
