.glitch-body {
  background: Black;
  min-height: 100vh;
  display: grid;
  color: White;
  font-family: sans-serif;
}
.glitch-main {
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  
  text-shadow:
    0.05em 0 0 rgba(255,0,0.75),
    -0.025em -0.05em 0 rgba(0,255,0.75),
    0.025em 0.05em 0 rgba(0,0,255.75);
  
  animation: glitch-main 500ms infinite;
}

@keyframes glitch-main {
  0% {
   text-shadow: 0.05em 0 0 rgba(255,0,0.75),
    -0.025em -0.05em 0 rgba(0,255,0.75),
    -0.025em 0.05em 0 rgba(0,0,255.75);
  }
  14% {
   text-shadow: 0.05em 0 0 rgba(255,0,0.75),
    -0.025em -0.05em 0 rgba(0,255,0.75),
    -0.025em 0.05em 0 rgba(0,0,255.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255,0,0.75),
    0.025em 0.025em 0 rgba(0,255,0.75),
    -0.05em -0.05em 0 rgba(0,0,255.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255,0,0.75),
    0.025em 0.025em 0 rgba(0,255,0.75),
    -0.05em -0.05em 0 rgba(0,0,255.75);
  }
  50% { 
   text-shadow:  0.025em 0.05em 0 rgba(255,0,0.75),
    -0.025em -0.05em 0 rgba(0,255,0.75),
    0.025em 0.05em 0 rgba(0,0,255.75);
  }
  99% { 
   text-shadow:  0.025em 0.05em 0 rgba(255,0,0.75),
    -0.025em -0.05em 0 rgba(0,255,0.75),
    0.025em 0.05em 0 rgba(0,0,255.75);
  }
  100% { 
    text-shadow: -0.025em 0 0 rgba(255,0,0.75),
    -0.025em -0.025em 0 rgba(0,255,0.75),
    -0.025em -0.05em 0 rgba(0,0,255, 0.75);
  }
}
